<%= simple_form_for(@service, :html => { :multipart => true }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :category %>
    <%= f.input :title %>
    <div class="well">
      <%= f.label :article_image, "Current Image" %>
      <%= image_tag(@service.article_image_url, class: "img-responsive img-thumbnail") if @service.article_image? %>

      <div class="field">
        <%= f.input :article_image, as: :file, label: "Choose Article Image" %>
      </div>
      <%= f.hidden_field :article_image_cache %>
    </div>
    <%= f.label :content, "Content" %>
    <%= f.trix_editor :content %>
    <br>
    <%= f.label :teaser, "Teaser Content" %>
    <%= f.trix_editor :teaser %>
    <br>
    <%= f.label :specs, "Project Specs" %>
    <%= f.trix_editor :specs %>
    <br>
    <div class="well">
      <h4>Carousel Images</h4>
      <div class="row">

        <%= f.simple_fields_for :build_images do |builder| %>
          <%= render 'build_image_fields', f: builder %>
        <% end %>
        <%= link_to_add_fields "Add Image Uploader", f, :build_images %>
      </div>
    </div>
    <br>

    <%= f.input :slug %>
    <%= f.input :published_on %>
    <%= f.input :published %>
    <%= f.association :admin_user, collection: AdminUser.all, label_method: :email, value_method: :id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Save", class: "btn btn-danger" %>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <%= link_to 'Cancel', services_path, class: "btn btn-outline-secondary" %>
  </div>
  <br>
<% end %>
