<p id="notice"><%= notice %></p>

<div class="container-fluid bg-1">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="post-category"><%= @service.title %><% if current_admin_user %><%= link_to 'Edit', edit_service_path(@service), class: 'btn btn-default pull-right' %><% end %></h2>
        <h5 class="post-subtitle"></h5>
      </div>
    </div>
  </div>
</div>

<div class="container m-t-20 m-b-20">
  <div class="row">
    <div class="col-xs-12">
      <br>
     <div class="">
       <%= @service.description.html_safe %>
     </div>
   </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-xs-12">

      <%= link_to "Create A New Service", new_service_path, class: 'btn btn-default' %>
      |
      <%= link_to 'Edit', edit_service_path(@service), class: 'btn btn-default' %> |
      <%= link_to 'Back', services_path, class: 'btn btn-default' %>
    </div>
  </div>
</div>
