<p id="notice"><%= notice %></p>

<div class="container-fluid bg-1">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="post-category"><%= @service.title %></h2>
        <h5 class="post-subtitle"></h5>
      </div>
    </div>
  </div>
</div>

<div class="container m-t-20 m-b-20">
  <div class="row">
    <div class="col-xs-12">
      <br>
     <div class="">
       <%= @service.description.html_safe %>
     </div>
   </div>
  </div>
  <hr />

  <% if current_admin_user %>
    <div class="row">
      <div class="col-xs-12">

        <%= link_to new_service_path, class: 'btn btn-outline-success' do %>
          <i class="fa fa-plus-circle"></i> Create A New Service
        <% end %>

        <%= link_to edit_service_path(@service), class: 'btn btn-outline-info' do %>
          <i class="fa fa-pencil"></i> Edit
        <% end %>

        <%= link_to '/manage', class: 'btn btn-outline-secondary' do %>
          <i class="fa fa-cancel"></i> Cancel
        <% end %>
      </div>
    </div>
  <% end %>
</div>
