<p id="notice"><%= notice %></p>

<h1>Listing Build Images</h1>

<table>
  <thead>
    <tr>
      <th>Build</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @build_images.each do |build_image| %>
      <tr>
        <td><%= build_image.build %></td>
        <td><%= build_image.image %></td>
        <td><%= link_to 'Show', build_image %></td>
        <td><%= link_to 'Edit', edit_build_image_path(build_image) %></td>
        <td><%= link_to 'Destroy', build_image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Build image', new_build_image_path %>
