<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <%=
      #image_tag @setting.home_image, class: "img-fluid"
      %>
    </div>
  </div>
</div>

<div class="container-fluid m-t-20 m-b-20">
  <div class="container">
    <div class="row text-center">
      <div class="col-xs-12">
        <h1 class="site-title"><%= @setting.title %></h1>
        <h2 class="site-subtitle"><%= @setting.subtitle %></h2>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <%=
        #@setting.description.html_safe
        %>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid services-boxes">
  <div class="container">
    <div class="row text-center">
      <div class="col-xs-12">
        <h2><%=
         # @setting.section_title
         %></h2>
      </div>
    </div>
    <div class="row mt-3 text-center">

      <% @services.each do |service| %>
        <div class="col-sm-6 col-md-3 item">
          <h2 class="service"><%= service.title %></h2>
          <div class="service-text"><%= service.description %></div>
          <%= link_to "#{service.link_text}", "#{service.link_destination}", class: "btn btn-white-outline" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="container recent">
  <div class="container">
    <div class="row text-center">
      <div class="col-xs-12">
        <h2><%=
        #@setting.projects_title
        %></h2>
        <hr>
      </div>
    </div>
    <div class="row mt-3">

    </div>
  </div>
</div>
