<div class="container-fluid">
  <div class="row">
    <div class="">
      <%= image_tag 'custom-porsche.jpg', class: "img-responsive" %>
    </div>
  </div>
</div>


<div class="container-fluid m-t-20 m-b-20">
  <div class="container">
    <div class="row text-center">
      <div class="col-xs-12">
       <h1 class="site-title">New Historics</h1>
        <h2 class="site-subtitle">Vintage Race Car Preservation, Restoration & Engineering</h2>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">

        <p>We hope you share our enthusiasm and passion for vintage race car preservation, restoration, and engineering history with particular focus on Porsche prototype cars from the late sixties: types 907, 910, 908, and 917.  NewHistorics.com also serves as a technical reference for countless Porsche factory race car parts and catalogue of painstakingly crafted directly interchangeable components that have supported and restored many factory original historic cars around the world for over 15 years. NewHistorics.com showcases a body of work by a collection of specialized engineers, fabricators, and restoration experts.</p>
      </div>

      <!-- <div class="col-md-3">
        <h3>Placeholder</h3>
        <p> Ullamco fashion axe excepteur next level, aesthetic ramps venmo selfies. Veniam bicycle rights VHS thundercats, reprehenderit laboris eu tempor man braid. Assumenda lomo sunt austin wayfarers. Austin reprehenderit sed assumenda.</p>
        <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Videos</h3>
        </div>
        <div class="panel-body">
          <div>Sometime you have to see to believe.</div>
          <br>
          <iframe width="100%" height="auto" src="https://www.youtube.com/embed/MGDueq54gmc" frameborder="0" class="thumbnail" allowfullscreen></iframe>
          <hr>
          Check out our <a href="http://youtube.com">You Tube Channel</a> for all our videos.
        </div> -->

    </div>
  </div>
</div>

<div class="container-fluid services">
  <div class="container">
    <div class="row text-center">
      <div class="col-xs-12">
        <h2>About Us / Services</h2>

      </div>
    </div>
    <div class="row m-t-20 text-center">
      <div class="col-sm-6 col-md-3 item">
        <h2 class="service">Custom Builds</h2>
        <div class="service-text">Veniam bicycle rights VHS thundercats, reprehenderit laboris eu tempor man braid. Assumenda lomo sunt austin wayfarers. Austin reprehenderit sed assumenda.</div>
        <%= link_to "See All Builds", '/custom_builds', class: "btn btn-white-outline" %>

      </div>
      <div class="col-sm-6 col-md-3 item">
        <h2 class="service">Engine Building</h2>
        <div class="service-text">Veniam bicycle rights VHS thundercats, reprehenderit laboris eu tempor man braid. Assumenda lomo sunt austin wayfarers. Austin reprehenderit sed assumenda.</div>
        <%= link_to "See Engine Builds", '/engine_building', class: "btn btn-white-outline" %>
      </div>
      <div class="col-sm-6 col-md-3 item">
        <h2 class="service">Barn Finds</h2>
        <div class="service-text">Veniam bicycle rights VHS thundercats, reprehenderit laboris eu tempor man braid. Assumenda lomo sunt austin wayfarers. Austin reprehenderit sed assumenda.</div>
        <%= link_to "See All Barn Finds", '/barn_finds', class: "btn btn-white-outline" %>
      </div>
      <div class="col-sm-6 col-md-3 item">
        <h2 class="service">All Projects</h2>
        <div class="service-text">Veniam bicycle rights VHS thundercats, reprehenderit laboris eu tempor man braid. Assumenda lomo sunt austin wayfarers. Austin reprehenderit sed assumenda.</div>
        <%= link_to "See All Projects", '/projects', class: "btn btn-white-outline" %>
      </div>
    </div>
  </div>
</div>


<div class="container recent">
  <div class="container">
    <div class="row text-center">
      <div class="col-xs-12">
        <h2>Recent Projects</h2>
        <hr>

      </div>
    </div>
    <div class="row m-t-20">


    <% @posts.each do |post| %>
    <div class="row">
      <div class="col-xs-12">

      </div>
      <div class="col-md-4">
        <%= image_tag post.article_image, class: "img-responsive img-thumbnail m-b-20" %>
      </div>
      <div class="col-md-8">
        <h2 class="project-title"><%= link_to post.title, post_path(post), class: "project-title" %></h2>
        <div class="post-details">
          <span class="glyphicon glyphicon-time"></span> <%= post.published_on.strftime("%B %d, %Y") %> /
          <%= link_to post.category.name, category_path(post.category) %>
        </div>




        <%= post.teaser.html_safe %>
        <br>
        <%= link_to 'Read More', post_path(post), class: "btn btn-info" %> |
        <%= link_to 'Edit', edit_post_path(post), class: "btn btn-warning" %> |
        <%= link_to 'Destroy', post_path(post), method: :destroy, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
        <br>
      </div>
    </div>
    <hr />
  <% end %>




    </div>
  </div>
</div>


