<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Americo Admin Panel</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= stylesheet_link_tag    'admin' %>
    <%= javascript_include_tag 'admin/admin' %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>


<div class="container-fluid post-header">

  <div class="container">
    <div class="row">
      <div class="col mt-2 mb-3">
        <h2 class="post-category float-left">Admin Panel</h2>
        <%= link_to "Log out", destroy_admin_user_session_path, :method => :delete, class: 'float-right btn btn-danger mt-3' %>
        <br>
        <h5 class="post-subtitle">&nbsp;</h5>
     </div>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col">
      <h5>Projects</h5>
      <div class="mb-5">
        <%= link_to new_post_path, class: 'btn btn-outline-success' do %>
          <i class="fa fa-plus-circle"></i> New
        <% end %>
        <%= link_to posts_path, class: 'btn btn-outline-secondary' do %>
          <i class="fa fa-search"></i> View All
        <% end %>
        <%= link_to services_path, class: 'btn btn-outline-info' do %>
          <i class="fa fa-pencil-square-o"></i> Edit
        <% end %>
      </div>

      <h5>Services</h5>
      <div class="mb-5">
        <%= link_to new_service_path, class: 'btn btn-outline-success' do %>
          <i class="fa fa-plus-circle"></i> New
        <% end %>
        <%= link_to services_path, class: 'btn btn-outline-secondary' do %>
          <i class="fa fa-search"></i> View All
        <% end %>
        <%= link_to services_path, class: 'btn btn-outline-info' do %>
          <i class="fa fa-pencil-square-o"></i> Edit
        <% end %>
      </div>


      <h5>Categories</h5>
      <div class="mb-5">
        <%= link_to new_category_path, class: 'btn btn-outline-success' do %>
          <i class="fa fa-plus-circle"></i> New
        <% end %>
        <%= link_to categories_path, class: 'btn btn-outline-secondary' do %>
          <i class="fa fa-search"></i> View All
        <% end %>
        <%= link_to categories_path, class: 'btn btn-outline-info' do %>
          <i class="fa fa-pencil-square-o"></i> Edit
        <% end %>
      </div>
      <h5>Videos</h5>
      <div class="mb-5">
        <%= link_to new_video_path, class: 'btn btn-outline-success' do %>
          <i class="fa fa-plus-circle"></i> New
        <% end %>
        <%= link_to videos_path, class: 'btn btn-outline-secondary' do %>
          <i class="fa fa-search"></i> View All
        <% end %>
        <%= link_to videos_path, class: 'btn btn-outline-info' do %>
          <i class="fa fa-pencil-square-o"></i> Edit
        <% end %>
      </div>
    </div>
    <div class="col">
      <h5>Contact Messages</h5>
      <div class="mb-5">
        <%= link_to messages_path, class: 'btn btn-outline-secondary' do %>
          <i class="fa fa-search"></i> View All
        <% end %>
      </div>
      <h5>Edit Content</h5>
      <div class="mb-4">
        <%= link_to '/menu_items', class: 'btn btn-outline-info' do %>
          <i class="fa fa-pencil-square-o"></i> Navigation Menu
        <% end %>
      </div>
      <div class="mb-4">
        <%= link_to '/settings/1/edit', class: 'btn btn-outline-info' do %>
          <i class="fa fa-pencil-square-o"></i> Home Page
        <% end %>
      </div>
      <div class="mb-4">
        <%= link_to '/settings/1/edit_about', class: 'btn btn-outline-info' do %>
          <i class="fa fa-pencil-square-o"></i> About Page
        <% end %>
      </div>
      <div class="mb-4">
        <%= link_to '/settings/1/edit_swag_shop', class: 'btn btn-outline-info' do %>
          <i class="fa fa-pencil-square-o"></i> Swag Shop Page
        <% end %>
      </div>
      <div class="mb-4">
        <%= link_to '/settings/1/edit_contact', class: 'btn btn-outline-info' do %>
          <i class="fa fa-pencil-square-o"></i> Contact Page
        <% end %>
      </div>



    </div>
  </div>
</div>

<p></p>
<p></p>
<p></p>
<p></p>





<div class="container-fluid-bg services">
  <div class="container">
    <div class="row text-center">
      <div class="col-xs-12">
      </div>
    </div>
  </div>
</div>

</body>
</html>

