<div class="container-fluid post-header">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="post-category">Venom Shop</h2>
        <h5 class="post-subtitle"></h5>
     </div>
    </div>
  </div>
</div>

<div class="container">
    
  <div class="row">
    <% @products.each do |product| %>

      <div class="col-sm-6 col-md-4 mt-5">
        <div class="product">
          <%= image_tag(product.product_image.url, class: "img-fluid" ) %>
          <br>
          <b><%= product.name %></b>
          <br>
          By: <%= product.manufacturer %>
          <br><br>
          <%= number_to_currency(product.price) %>
          <br><br>
          <%= product.paypal_button.html_safe %>

        </div>
      </div>
    <% end %>
  </div>

</div>
<br>
<br>
<br>
<br>
<br>

