<div class="container-fluid bg-1 m-b-20">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="post-category"><%= @part.name %></h2>
        <h5 class="post-subtitle"><%= @part.part_number %></h5>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-8">

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @part.name %>
</p>

<p>
  <strong>Part number:</strong>
  <%= @part.part_number %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @part.amount %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @part.notes %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @part.part_image_url, class: "img-responsive" %>
</p>

<%= link_to 'Edit', edit_part_path(@part), class: "btn btn-info" %> |
<%= link_to 'Back', parts_path, class: "btn btn-warning" %>

</div>
</div>
</div>