<p id="notice"><%= notice %></p>

<h1>Listing Menu Item Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Html</th>
      <th>Sort</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @menu_item_types.each do |menu_item_type| %>
      <tr>
        <td><%= menu_item_type.name %></td>
        <td><%= menu_item_type.html %></td>
        <td><%= menu_item_type.sort %></td>
        <td><%= link_to 'Show', menu_item_type %></td>
        <td><%= link_to 'Edit', edit_menu_item_type_path(menu_item_type) %></td>
        <td><%= link_to 'Destroy', menu_item_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Menu item type', new_menu_item_type_path %>
