<div class="container m-b-20">
  <%= simple_form_for(@footer) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :first_column, input_html: {:rows => 8} %>
      <%= f.input :second_column, input_html: {:rows => 8} %>
      <%= f.input :third_column, input_html: {:rows => 8} %>
      <%= f.input :links, input_html: {:rows => 8} %>
    </div>

    <div class="form-actions m-b-20">
      <%= f.button :submit, class: 'btn btn-success' %>

      <%= link_to 'Cancel', footers_path, class: 'btn btn-danger' %>
      <%= link_to 'Show Footer', footers_path, class: 'btn btn-info pull-right' %>
    </div>
  <% end %>
</div>