<div class="container m-t-20">
  <div class="row">
    <p>Custom Builds / <%= @build.title %></p>
  </div>
</div>

<div class="container m-t-20">
  <div class="row">
    <div class="col-lg-8">
      <article>
        <p id="notice"><%= notice %></p>

        <h1 class="post-title"><%= @build.title %></h1>
        <div class="post-attributes"></div>

        <div class="post-main-image">
          <%= image_tag @build.article_image.to_s, class: "img-thumbnail img-responsive" %>
        </p>

        <div class="post-content">
          <%= @build.content.html_safe %>
        </p>


        <h3>Image Carousel</h3>

        <div class="well">
            <div id="myCarousel" class="carousel slide">

                <!-- Carousel items -->
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="row">
                            <div class="col-sm-3"><a href="#x"><img src="http://placehold.it/500x500" alt="Image" class="img-responsive"></a>
                            </div>
                            <div class="col-sm-3"><a href="#x"><img src="http://placehold.it/500x500" alt="Image" class="img-responsive"></a>
                            </div>
                            <div class="col-sm-3"><a href="#x"><img src="http://placehold.it/500x500" alt="Image" class="img-responsive"></a>
                            </div>
                            <div class="col-sm-3"><a href="#x"><img src="http://placehold.it/500x500" alt="Image" class="img-responsive"></a>
                            </div>
                        </div>
                        <!--/row-->
                    </div>
                    <!--/item-->
                    <div class="item">
                        <div class="row">
                            <div class="col-sm-3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" class="img-responsive"></a>
                            </div>
                            <div class="col-sm-3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" class="img-responsive"></a>
                            </div>
                            <div class="col-sm-3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" class="img-responsive"></a>
                            </div>
                            <div class="col-sm-3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" class="img-responsive"></a>
                            </div>
                        </div>
                        <!--/row-->
                    </div>
                    <!--/item-->
                    <div class="item">
                        <div class="row">
                            <div class="col-sm-3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" class="img-responsive"></a>
                            </div>
                            <div class="col-sm-3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" class="img-responsive"></a>
                            </div>
                            <div class="col-sm-3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" class="img-responsive"></a>
                            </div>
                            <div class="col-sm-3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" class="img-responsive"></a>
                            </div>
                        </div>
                        <!--/row-->
                    </div>
                    <!--/item-->
                </div>
                <!--/carousel-inner--> <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>

                <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
            </div>
            <!--/myCarousel-->
        </div>
        <!--/well-->

        <p>
          <strong>Date published:</strong>
          <%= @build.date_published %>
        </p>

        <p>
          <strong>Published:</strong>
          <%= @build.published %>
        </p>

        <p>
          <strong>Admin user:</strong>
          <%= @build.admin_user.email %>
        </p>

        <p>
          <strong>Slug:</strong>
          <%= @build.slug %>
        </p>

      </article>

      <%= link_to 'Edit', edit_build_path(@build), class: "btn btn-default" %> |
      <%= link_to 'Back', builds_path, class: "btn btn-default" %>
      <br /><br />
    </div>

    <div class="col-lg-4">
      <h3>Sidebar</h3>
      <p>Content</p>

      <h3>Sidebar</h3>
      <p>Content</p>
    </div>
  </div>
</div>
