<div class="container-fluid bg-1">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>Listing Menu Items</h1>
      </div>
    </div>
  </div>
</div>

<div class="container m-t-20">
  <div class="row">
    <div class="col-lg-8">
      <p id="notice"><%= notice %></p>

      <p>
        <strong>Menu Item Type:</strong>
        <%= @menu_item.menu_item_type.name %>
      </p>

      <p>
        <strong>Label:</strong>
        <%= @menu_item.label %>
      </p>

      <p>
        <strong>Location:</strong>
        <%= @menu_item.location %>
      </p>

      <p>
        <strong>Sort:</strong>
        <%= @menu_item.sort %>
      </p>

      <%= link_to 'Edit', edit_menu_item_path(@menu_item), class: 'btn btn-info' %> |
      <%= link_to 'Back', menu_items_path, class: 'btn btn-warning' %>
      <br><br><br>
    </div>
  </div>
</div>