<p id="notice"><%= notice %></p>

<p>
  <strong>Html:</strong>
  <%= @menu_item.html %>
</p>

<p>
  <strong>Sort:</strong>
  <%= @menu_item.sort %>
</p>

<%= link_to 'Edit', edit_menu_item_path(@menu_item) %> |
<%= link_to 'Back', menu_items_path %>
