<div class="container mt-5">
  <%= simple_form_for(@video) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.association :post, label: "Project", prompt: "Select Project" %>
      <%= f.input :url %>
      <%= f.input :description, input_html: {rows: 5} %>
    </div>

    <div class="form-actions mb-4">
      <%= f.button :submit, "Save", class: "btn btn-danger" %>
      <%= link_to "Cancel", '/manage', class: "btn btn-outline-secondary" %>
    </div>
  <% end %>
</div>