<div class="container-fluid bg-1">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>Listing Videos</h1>
      </div>
    </div>
  </div>
</div>

<div class="container m-t-20">
  <div class="row">
    <div class="col-lg-8">
      <p id="notice"><%= notice %></p>


      <table class="table table-striped">
        <thead>
          <tr>
            <th>Post</th>
            <th>Url</th>
            <th>Description</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @videos.each do |video| %>
            <tr>
              <td><%= video.post.title %></td>
              <td><%= video.url %></td>
              <td><%= video.description %></td>
              <td><%= link_to 'Show', video, class: 'btn btn-info' %></td>
              <td><%= link_to 'Edit', edit_video_path(video), class: 'btn btn-warning' %></td>
              <td><%= link_to 'Destroy', video, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <br>
      <br>
      <%= link_to 'New Video', new_video_path, class: 'btn btn-success' %>
      <br>
      <br>
      <br>
      <br>
    </div>
  </div>
</div>