<p id="notice"><%= notice %></p>

<div class="container-fluid post-header">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="post-category">All Projects</h2>
        <h5 class="post-subtitle">Custom Builds / Engine Builds / Barn Finds</h5>
      </div>
    </div>
  </div>
</div>




<div class="container m-t-20 m-b-20">
  <% @posts.each do |post| %>
    <div class="row">
      <div class="col-xs-12">

      </div>
      <div class="col-md-4">
        <%= image_tag post.article_image, class: "img-responsive img-thumbnail m-b-20" %>
      </div>
      <div class="col-md-8">
        <h2 class="project-title">
          <% if post.slug != "" %><%= link_to post.title, post_path(post.slug), class: "project-title" %><% end %>
        </h2>
        <div class="post-details">
          <span class="glyphicon glyphicon-time"></span> <%= post.published_on.strftime("%B %d, %Y") %> /
          <%= link_to post.category.name, category_path(post.category) %>
        </div>

        <%= post.teaser.html_safe %>
        <br>
        <%= link_to 'Read More', post_path(post), class: "btn btn-info" %> |
        <%= link_to 'Edit', edit_post_path(post), class: "btn btn-warning" %> |
        <%= link_to 'Destroy', post_path(post.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
        <br>
      </div>
    </div>
    <hr />
  <% end %>
    </div>


  <br>

  </div>
</div>