<div class="container-fluid post-header">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="post-category"><%= @post.category.name %></h2>
        <h5 class="post-subtitle"><%= @post.title %></h5>
      </div>
    </div>
  </div>
</div>

<div class="container m-t-20">
  <div class="row">
    <div class="col-lg-8">
      <article>

        <div class="post-main-image">
          <%= image_tag @post.article_image.to_s, class: "img-thumbnail img-responsive" %>
        </div>

        <div class="post-details">
          <% if @post.admin_user %>
          By: <%= @post.admin_user.email %> /
          <% end %>
          <span class="glyphicon glyphicon-time"></span> <%= @post.published_on.strftime("%B %d, %Y") %> /
          <%= link_to @post.category.name, category_path(@post.category) %>
        </div>

        <h1 class="post-title"><%= @post.title %></h1>
        <div class="post-attributes"></div>


        <div class="post-content">
          <%= @post.content.html_safe %>
        </div>

        <% if @post_images.size > 0  %>
          <h4 class="post-gallery">Project Photo Gallery</h4>

          <div id="links" class="row">

            <% @post_images.each_with_index do |post_image, i| %>
              <div class="col-xs-3 col-sm-2 no-gutters">

                <%= link_to image_tag(post_image.image, class: "img-responsive img-thumbnail"), asset_path(post_image.image), data: {gallery: "gallery"}, title: ""  %>
              </div>
            <% end %>
          </div>


        <% end %>
      </article>
      <br><br>

      <%= link_to 'Edit', edit_post_path(@post), class: "btn btn-warning" %> |
      <%= link_to 'Back', posts_path, class: "btn btn-info" %>
      <br /><br />
    </div>

    <div class="col-lg-4">
       <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Project Specs</h3>
        </div>
        <div class="panel-body">
          <%= @post.specs? ? @post.specs.html_safe : "No specs for this project" %>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Available Parts</h3>
        </div>
        <div class="panel-body">
          <div>Some of the parts we used are available for sale. <a href="/contact">Contact Us</a> to inquire about pricing and availability.</div>
          <hr>
          <% @post.parts.each do |part|%>
          <ul>
            <li>
              <%= link_to part.name, part_path(part) %>
            </li>
          </ul>
          <% end %>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Videos</h3>
        </div>
        <div class="panel-body">
          <div>Sometime you have to see to believe.</div>
          <br>
          <% @videos.each do |video| %>
            <iframe width="100%" height="auto" src="<%= video.url %>" frameborder="0" class="thumbnail" allowfullscreen></iframe>
          <% end %>
          <hr>
          Check out our <a href="http://youtube.com">You Tube Channel</a> for all our videos.
        </div>
      </div>




    </div>
  </div>
</div>
<br>
<br>


<!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
<div id="blueimp-gallery" class="blueimp-gallery" data-use-bootstrap-modal="false">
    <!-- The container for the modal slides -->
    <div class="slides"></div>
    <!-- Controls for the borderless lightbox -->
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
    <!-- The modal dialog, which will be used to wrap the lightbox content -->
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body next"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left prev">
                        <i class="glyphicon glyphicon-chevron-left"></i>
                        Previous
                    </button>
                    <button type="button" class="btn btn-primary next">
                        Next
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>