<div class="container m-t-20">
  <div class="row">
    <p><%= @post.category.name %> / <%= @post.title %></p>
  </div>
</div>

<div class="container m-t-20">
  <div class="row">
    <div class="col-lg-8">
      <article>
        <p id="notice"><%= notice %></p>

        <h1 class="post-title"><%= @post.title %></h1>
        <div class="post-attributes"></div>

        <div class="post-main-image">
          <%= image_tag @post.article_image.to_s, class: "img-thumbnail img-responsive" %>
        </p>

        <div class="post-content">
          <%= @post.content.html_safe %>
        </p>

        <% unless @post_images.empty?  %>
        <h3>Image Carousel</h3>
        <div class="well">
            <div id="myCarousel" class="carousel slide">

                <!-- Carousel items -->
                <div class="carousel-inner">
                  <% counter = 0 %>
                  <% @post_images.in_groups_of(4) do |image_group| %>

                    <div class="item <%= counter == 0 ? 'active' : '' %>">
                      <div class="row">
                        <% for build_image in image_group %>
                          <% unless build_image.nil?  %>
                            <div class="col-sm-3">
                              <a href="#"><%= image_tag build_image.image, class: "img-responsive img-thumbnail" %></a>
                            </div>
                          <% end %>
                        <% end %>
                      </div>
                    </div>
                    <% counter += 1 %>
                  <% end %>
                </div>
                <!--/carousel-inner--> <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>

                <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
            </div>
            <!--/myCarousel-->
        </div>
        <!--/well-->
        <% end %>

        <p>
          <strong>Date published:</strong>
          <%= @post.published_on %>
        </p>

        <p>
          <strong>Published:</strong>
          <%= @post.published %>
        </p>

        <p>
          <strong>Admin user:</strong>
          <%= @post.admin_user.try(:email) %>
        </p>

        <p>
          <strong>Slug:</strong>
          <%= @post.slug %>
        </p>

      </article>

      <%= link_to 'Edit', edit_post_path(@post), class: "btn btn-default" %> |
      <%= link_to 'Back', posts_path, class: "btn btn-default" %>
      <br /><br />
    </div>

    <div class="col-lg-4">
      <h3>Sidebar</h3>
      <p>Content</p>

      <h3>Sidebar</h3>
      <p>Content</p>
    </div>
  </div>
</div>
