<div class="container">
  <div class="row">
    <div class="col-lg-12">

      <h1>Barn Finds</h1>
      <h4>Sub-Heading Text can go here if needed.</h4>

      <% @barn_finds.each do |barn_find| %>
        <article id="<%= barn_find.id %>" class="<%= barn_find.slug %>">
          <h2><%= link_to barn_find.title, barn_find_path(barn_find.slug) %></h2>
          <div class="row">
            <%= link_to barn_find do %>
              <div class="col-lg-4">
                <!-- barn_find.main_image -->
                <%= image_tag barn_find.article_image, class: "img-responsive" %>
              </div>
              <div class="col-lg-8">
                <%= barn_find.teaser.html_safe %>
              </div>
            <% end %>
          </div>
        </article>
     <% end %>

      <br>

      <%= link_to 'New Barn find', new_barn_find_path, class: "btn btn-primary" %>

      <br>
      <br>

    </div>
  </div>
</div>