<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>


        <a class="navbar-brand" href="/"><%= image_tag 'nh_logo_400.png', class: "img-responsive" %></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Custom Builds <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <% @category_custom_builds.each do |this| %>
            <li>
              <%= link_to this.title, post_path(this) %>
            </li>
            <li role="separator" class="divider"></li>
            <% end %>
            <li><%= link_to 'See All Custom Builds', '/custom_builds' %></a></li>

            <li role="separator" class="divider"></li>

            <% @category_barn_finds.each do |this| %>
            <li>
              <%= link_to this.title, post_path(this) %>
            </li>
            <li role="separator" class="divider"></li>
            <% end %>
            <li><%= link_to "See All Barn Finds", '/barn_finds' %></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Engine Building <span class="caret"></span></a>
          <ul class="dropdown-menu">

            <% @category_engine_builds.each do |this| %>
            <li>
              <%= link_to this.title, post_path(this) %>
            </li>
            <li role="separator" class="divider"></li>
            <% end %>

            <li><a href="/engine_building">All Engine Builds</a></li>
          </ul>
        </li>
        <li><a href="/parts_list">Parts List</a></li>
        <li><a href="#">Swag Shop</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


