<!DOCTYPE html>
<html class="<%= newhistorics_page_class(true) %>">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Venom Motorsports Inc.</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body id="page-top">

<%= render 'layouts/new_header' %>
<div id="logo-stripe"></div><div id="logo-piece"></div><div id="logo-blue-stripe"></div>

<%= yield %>

<%= render 'layouts/footer' %>

</body>
</html>
