<!DOCTYPE html>
<html class="<%= newhistorics_page_class(true) %>">
<head>
  <title>New Historics | Custom Built Porsches</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

<%= render 'layouts/new_header' %>

<%= yield %>

<%= render 'layouts/footer' %>

</body>
</html>
